<div class="main">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>To jest zadanie rekrutacyjne JJM !</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-4">
      <div class="card pointer mt-5" [routerLink]="'/add-preference'">
        <div class="card-body text-center">
          Dodaj preferencje
        </div>
      </div>
      <div class="card pointer mt-5" [routerLink]="'/show-preference'">
        <div class="card-body text-center">
          Pokaż preferencje
        </div>
      </div>
      <div class="card pointer mt-5" [routerLink]="'/contact'">
        <div class="card-body text-center">
          Kontakt
        </div>
      </div>
    </div>
  </div>
</div>
